<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=intelligob;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DireccionBase" value="http://localhost:3578/Entidades.svc"/>
      <add key="ConfiguracionPunto" value="BasicHttpBinding_IEntidades"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntidades" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEntidades" contract="Referencia.IEntidades"
          name="BasicHttpBinding_IEntidades" />
    </client>
  </system.serviceModel>
</configuration>