<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=unigob;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
