<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=unigob;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ConfiguracionPunto" value="BasicHttpBinding_IEntidades" />
    <add key="DireccionBase" value="http://localhost:3578/Entidades.svc" />
    <add key="ImagenInicio" value="D:\Desarrollo\Proyectos\Remotos\bitbucket\intelligob\Intelligob\Intelligob\Vistas\Imagenes\escudo-palestina156.jpg" />
    <add key="MenuInicial" value="MenuCatastrosVM" />
    <add key="Servidor" value="localhost" />
    <add key="CobrosMostrarCabeceraAgregados" value="true" />
    <add key="CobrosMostrarColumnasAgregados" value="true" />
    <add key="CobrosDesplegarGrupos" value="false" />
    <add key="Servidor" value="localhost" />
    <add key="BaseDatos" value="unigob" />
    <add key="Usuario" value="sysdba" />
    <add key="Clave" value="HkoB3mbQW9h3XCIyQ07i8w==" />
    <add key="Opciones" value="character set=ISO8859_1;" />
    <add key="Proveedor" value="FirebirdSql.Data.FirebirdClient" />
    <add key="FirebirdSql" value="FirebirdSql.Data.FirebirdClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntidades" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidades" contract="Referencia.IEntidades" name="BasicHttpBinding_IEntidades" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>