<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=14.2.20.1021, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="IntelligobCliente" version="3.0.0.0" culture="neutral" publicKeyToken="null" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
  </Telerik.Reporting>
  <connectionStrings>
    <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=palestina;user id=SYSDBA;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="IntelligobConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=palestina;user id=SYSDBA;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="InteligobConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=palestina;user id=SYSDBA;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ConfiguracionPunto" value="BasicHttpBinding_IEntidades" />
    <add key="DireccionBase" value="http://localhost:3584/Entidades.svc" />
    <add key="ImagenInicio" value="E:\Desarrollo\Proyectos\Intelligob\Intelligob\Vistas\Imagenes\escudo-palestina156.jpg" />
    <add key="MenuInicial" value="MenuCatastrosVM" />
    <!--add key="Servidor" value="192.168.10.9" /-->
    <add key="CobrosMostrarCabeceraAgregados" value="true" />
    <add key="CobrosDesplegarGrupos" value="false" />
    <add key="Servidor" value="localhost" />
    <add key="BaseDatos" value="palestina" />
    <add key="Usuario" value="SYSDBA" />
    <add key="Clave" value="HkoB3mbQW9h3XCIyQ07i8w==" />
    <!--add key="Opciones" value="character set=ISO8859_1;"/-->
    <add key="Opciones" value="" />
    <add key="Proveedor" value="FirebirdSql.Data.FirebirdClient" />
    <add key="FirebirdSql" value="FirebirdSql.Data.FirebirdClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntidades" maxReceivedMessageSize="2147483647" sendTimeout="00:20:00">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidades" contract="Referencia.IEntidades" name="BasicHttpBinding_IEntidades" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntidades" maxReceivedMessageSize="642097152" maxBufferSize="642097152" maxBufferPoolSize="642097152" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3584/Entidades.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidades" contract="Referencia.IEntidades" name="BasicHttpBinding_IEntidades" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803CFA389C90CE7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.1.224.40" newVersion="2014.1.224.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--Telerik.Reporting>
    <assemblyReferences>
      <add name="IntelligobCliente" version="3.0.0.0" culture="neutral" publicKeyToken="null" />
    </assemblyReferences>
  </Telerik.Reporting-->
</configuration>