<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=palestina17;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <appSettings>
    <add key="Servidor" value="localhost" />
    <add key="BaseDatos" value="palestina17" />
    <add key="Usuario" value="sysdba" />
    <add key="Clave" value="HkoB3mbQW9h3XCIyQ07i8w==" />
    <add key="Opciones" value="character set=ISO8859_1;" />
    <add key="Proveedor" value="FirebirdSql.Data.FirebirdClient" />
    <add key="FirebirdSql" value="FirebirdSql.Data.FirebirdClient" />
    <add key="ProfilerPort" value="15555" />
    <add key="Logo48" value="D:\Desarrollo\Proyectos\Remotos\bitbucket\intelligob\Intelligob\Intelligob\Vistas\Imagenes\escudo-palestina48.jpg" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Intelligob.Servidor.Entidades" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Intelligob.Servidor.IEntidades">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Intelligob.Servidor.ModeloService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Intelligob.Servidor.IModeloService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="EntidadesBindingConfig" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>