<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=14.2.20.1021, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="IntelligobCliente" version="3.0.0.0" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
  </Telerik.Reporting>
  <connectionStrings>
    <add name="ServidorConexion" connectionString="character set=ISO8859_1;data source=localhost;initial catalog=unigob;user id=sysdba;password=masterkey" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntidades" maxReceivedMessageSize="65536000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://Servidor/Entidades.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidades" contract="Referencia.IEntidades" name="BasicHttpBinding_IEntidades" />
    </client>
  </system.serviceModel>
</configuration>